// -----------------------------------------------------
// VARIABLES SASS (reemplazan a :root)
// -----------------------------------------------------
$inetum-blue: #007aff;
$inetum-blue-hover: #0070e0;
$inetum-black: #1d1d1f;
$inetum-gray: #6e6e73;
$inetum-light-gray: #f5f5f7;
$inetum-white: #ffffff;

$main-font: 'Oxygen', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$bs-gradient: linear-gradient(180deg, rgba(141, 140, 140, 0.2), rgba(255, 255, 255, 0.629));

