/* --- Archivo SASS (styles.scss) --- */

/* 1. Variables */
:root {
    --inetum-blue: #007aff;
    --inetum-blue-hover: #0070e0;
    --inetum-black: #1d1d1f;
    --inetum-gray: #6e6e73;
    --inetum-light-gray: #f5f5f7;
    --inetum-white: #ffffff;
    --main-font: 'Oxygen', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    --card-radius: 12px;
    --bs-gradient: linear-gradient(180deg, rgba(141, 140, 140, 0.2), rgba(255, 255, 255, 0.629));

}

body {
    font-family: var(--main-font);
    background-color: var(--inetum-white);
    color: var(--inetum-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-gradient {
    background-repeat: no-repeat;
    height: 100px;
}

.header-border {
  border-bottom: 2px solid #e5e5e5; /* gris */
}
/* 2. Estilos base y tipografía */
.display-5 {
    font-weight: 700;
    color: var(--inetum-black);
}

.mes-card{
    color: var(--inetum-gray)!important;
}
.icon-bootstrap-lila{
    color: #620db7;
}

/* CSS del Formulario */
.form-control:focus, .form-select:focus {
    border-color: var(--inetum-blue);
    box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.2);
}


.is-invalid {
    border-color: #dc3545;
}
.invalid-feedback {
    color: #dc3545;
    font-size: 0.875rem;
}
.is-valid {
    border-color: #198754;
}

#char-counter {
    font-size: 0.875rem;
    color: var(--inetum-gray);
    
    &.invalid {
        color: #dc3545;
        font-weight: 600;
    }
}

/* Modal de Mensaje cuando enviamos el formulario */
#message-modal {
    .modal-content {
        border-radius: var(--card-radius);
        border: none;
    }
    .modal-header {
        border-bottom: none;
    }
    .modal-footer {
        border-top: none;
    }
}

#nonce-status {
    transition: color 0.4s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Estado de la seguridad gris */
#nonce-status.loading {
    color: #6c757d; /* Bootstrap text-muted */
}

/* Estado verde + animación */
#nonce-status.loaded {
    color: #198754; /* Bootstrap success */
    transform: scale(1.03);
}

/* Icono oculto hasta que esté listo */
#nonce-status .status-icon {
    opacity: 0;
    transition: opacity 0.4s ease;
}

#nonce-status.loaded .status-icon {
    opacity: 1;
}