/* --- Archivo SASS (styles.scss) --- */

/* 1. Variables */
:root {
    --inetum-blue: #007aff;
    --inetum-blue-hover: #0070e0;
    --inetum-black: #1d1d1f;
    --inetum-gray: #6e6e73;
    --inetum-light-gray: #f5f5f7;
    --inetum-white: #ffffff;
    --main-font: 'Inter', -inetum-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    --card-radius: 12px;
}

body {
    font-family: var(--main-font);
    background-color: var(--inetum-white);
    color: var(--inetum-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

